<div class="row" style="padding: 10px;">
  <table>
    <tbody>
      <tr *ngFor="let row of generateArray(); let r = index">
        <td *ngFor="let col of generateArray(); let c = index">
          <button
            class="input-button"
            [innerHTML]="getSymbolForNumber((r * dimension) + (c + 1))"
            [disabled]="chooseFrom.indexOf((r * dimension) + (c + 1)) == -1"
            (click)="chooseNumber((r * dimension) + (c + 1));"
          >
            
          </button>
        </td>
      </tr>
    </tbody>
  </table>  
</div>
<!--
<div *ngIf="chosenNumber">
  Chosen number: {{chosenNumber}}
  <ul class="selection-type">
    <li>
      <input type="radio" [(ngModel)]="selectionType" name="selectionType" value="SURE" /> Sure?
    </li>
    <li style="margin-left: 5px">
      <input type="radio" [(ngModel)]="selectionType" name="selectionType" value="GUESS" /> Guess?
    </li>
    <li class="button-control">
      <button (click)="chooseNumber()">Confirm</button>
    </li>
  </ul>
</div>
-->